.header-hierarchy{
    padding: 2rem 8rem;
}

.header-hierarchy a{
    color:var(--gray-dark);
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 15px;
    padding: 0 10px;
    font-weight: bold;
    transition: color 0.2s linear
}

.header-hierarchy a:hover{
    color: var(--primary-color)
}

.header-menu{
    min-height: 2rem;
    padding: 0 8rem;
    border-bottom: 2px solid var(--gray-light);
}

.header-menu-items{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    margin-left: -2px;
    font-weight: bold;
    font-family: var(--primary-font);
    transition: color 0.2s linear;
    cursor: pointer;
}

.header-menu-items i{
    margin-left: 0.5rem;
}

.header-menu-items a{
    text-decoration: none;
    color: var(--black);
    transition: color 0.2s linear;
}

.header-menu-items:first-child{
    color: var(--black);
}

.header-menu-items:hover{
    color: var(--primary-color);
}

.header-menu-items a:hover{
    color: var(--primary-color);
}

/* Checkout */

.checkout-main{
    padding: 1rem 8.5rem;
}

.checkout-main h1{
    font-size: 30px;
    padding-bottom: 28px;
    border-bottom: 1px solid var(--gray-light);
}

.checkout-title{
    font-size: 16px
}

.checkout-green-click{
    font-size: 14px;
    color: var(--primary-color);
    text-decoration: none;
}

.checkout-top{
    border-bottom: 1px solid var(--gray-light);
    width: 100%;
    padding: 12px 0;
}

.checkout-process{
    padding-top: 48px;
}

.checkout-input{
    padding-top: 12px;
}

.checkout-different{
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
}

.checkout-different input{
    width: 16px;
    height: 16px;
    border-radius: 0.5rem;
    border: 2px solid var(--gray-light);
    outline:none;
    font-family: var(--primary-font);
}

.checkout-different label{
    padding-left: 12px
}

.checkout-input input{
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    border: 2px solid var(--gray-light);
    outline:none;
    font-family: var(--primary-font);
    padding-left: 1rem;
    margin-bottom: 12px;
}

.checkout-input select{
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    border: 2px solid var(--gray-light);
    outline:none;
    font-family: var(--primary-font);
    padding-left: 1rem;
}

.checkout-note{
    width: 100%;
    height: 160px;
    border-radius: 0.5rem;
    border: 2px solid var(--gray-light);
    outline:none;
    font-family: var(--primary-font);
    padding-left: 1rem;
    margin-bottom: 12px;
}

.asterisk-required{
    color: red
}

.checkout-name{
    display: flex;
    justify-content: space-between;
}

label{
    font-family: var(--primary-font);
}

.checkout-sheet{
    background-color: #eee;
    border-radius: 8px;
    padding: 24px 24px;
}

.order-space{
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.order-item{
    display: flex;
}

.order-item img{
    width: 56px;
    height: 56px;
}

.order-price{
    color: red;
    font-size: 16px
}

.order-price-big{
    color: red;
}

.order-item-text{
    padding-left: 16px;
}

.product-amount{
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: var(--white);
    width: fit-content;
    padding: 5px 8px;
}

.product-amount span{
    font-size: 16px;
    font-family: var(--primary-font);
}

.product-amount i:nth-child(1){
    padding-right: 25px;
    cursor: pointer;
}

.product-amount i:nth-child(3){
    padding-left: 25px;
    cursor: pointer;
}

.od-i-list{
    padding-bottom: 20px;
    border-bottom: 1px solid var(--gray-dark)
}

.check-big-space{
    padding: 24px 0;
}

.checkout-method{
    background-color: #eee;
    border-radius: 8px;
    padding: 24px 24px;
    margin-top: 16px;
}

.checkout-method label{
    font-weight: bold;
    padding-left: 12px;
}

.checkout-method p{
    color: var(--gray-dark);
    padding-left: 28px;
    padding-top: 8px;
    font-size: 12px;
}

.checkout-term{
    padding: 24px 0;
}

.checkout-term span:first-child{
    color: var(--primary-color);
    cursor: pointer;
}

.place-order{
    width: fit-content;
    font-weight: bold;
    color: var(--white);
    background-color: var(--primary-color);
    padding: 12px 120px;
    margin-top: 16px;
    border-radius: 8px;
    text-decoration: none;
    font-family: var(--primary-font);
}